@using MyPortfolio.Models;
<a href="">
    <div class="card">
        <img class="img-thumbnail" src="@ProjectData.ImageUrl" />
        <div class="card-body">
            <h5 class="card-title mb-3">@ProjectData.Name</h5>
            <div class="tech-icons">
                @foreach (var tech in ProjectData.Techs)
                {
                    <div class="single-icon">
                        <i class="@tech.Icon" />
                    </div>
                }
            </div>
            <p>@ShortenDescription(ProjectData.Description, 120)</p>
            <div class="link-icons">
                @foreach (var link in ProjectData.Links)
                {
                    <div class="single-icon">
                        <i class="@link.Icon" />
                    </div>
                }
            </div>
            <p class="more-info">Click to view more...</p>
        </div>
    </div>
</a>

@code {
    [Parameter]
    public ProjectModel ProjectData { get; set; }

    protected string ShortenDescription(string description, int length)
    {
        string shortDescription = description.Length < length ? description : description[0..length] + "...";
        return shortDescription;
    }
}
